//CSS variables
:root {
  --Navy: #666ca3;
  --darkBlue: #13183f;
  --Grey: #83869a;
  --neonPink: #f74780;
  --Pink: #ffa7c3;
  --White: #ffffff;
  --linearGradient1: linear-gradient(#f02aa6, #ff6f48);
  --linearGradient2: linear-gradient(#4851ff, #f02aa6);
}
